@use 'koki-countryView';
$bgSecondaryColor: #abcbc7;
$textMainyColor: #f2f2f2f2;

.container {
  font-size: 1vw;
  background-color: $textMainyColor;
  padding: 3vw;
  height: 100vh;

  .bg-pic {
    // padding: 20vw;
    background-image: url('../img/hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vw;

    .title-text {
      text-align: center;
      color: $textMainyColor;
      padding: 5vw 10vw;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      border-radius: 10px;

      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .title-button {
      text-align: center;
      margin: 2rem;

      a {
        text-decoration: none;
        color: #f7f7f7;
      }

      .button {
        padding: 1vw 5vw;
        border-radius: 10px;
        border: none;
        background-color: #01a690;
      }

      .button:hover {
        background-color: #abcbc7;
        color: #3a3c3e;
        box-shadow: 10px 15px 22px -5px rgba(0, 0, 0, 0.2),
          0 0 2px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .bg-pic {
      background-image: url('../img/hero6.jpg');
      border-radius: 20px;
    }
  }
}
